[Desktop Entry]
Type=Application
Name=Ritzel-Generator
Comment=Ritzel-Generator in FreeCAD starten
Exec="/home/kaysiebke/GidHub/Gates CDX Ritzel Generator/tools/starte-app.sh"
Icon=/home/kaysiebke/GidHub/Gates CDX Ritzel Generator/web/icons/icon-512.png
Terminal=false
Categories=Graphics;Engineering;
